In [4]:
import pandas as pd
import numpy as np

# Create a sample DataFrame
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda', 'Sarah', 'Michael', 'Emma', 'David'],
    'Age': [28, 34, 29, 42, 31, 35, 27, 38],
    'City': ['New York', 'Paris', 'Berlin', 'London', 'Sydney', 'New York', 'Paris', 'London'],
    'Department': ['HR', 'IT', 'Sales', 'Marketing', 'Finance', 'IT', 'HR', 'Sales'],
    'Salary': [65000, 70000, 62000, 85000, 72000, 78000, 63000, 69000],
    # Using 'ME' (month end) instead of 'M' to avoid deprecation warning
    'JoinDate': pd.date_range('2020-01-01', periods=8, freq='ME'),
    'Gender': ['M', 'F', 'M', 'F', 'F', 'M', 'F', 'M']
}
df = pd.DataFrame(data)

# Display original DataFrame
print("Original DataFrame:")
print(df)

# Basic grouping operations
dept_group = df.groupby('Department')
print("\nGroups in 'Department':")
print(sorted(list(dept_group.groups.keys())))

print("\nEmployees in IT department:")
print(dept_group.get_group('IT'))

# Basic aggregations
print("\nMean salary by department:")
print(dept_group['Salary'].mean())

print("\nMultiple statistics by department:")
print(dept_group['Salary'].agg(['min', 'max', 'mean', 'std']))

# Multiple column grouping
multi_group = df.groupby(['Department', 'Gender'])
print("\nMean salary by department and gender:")
print(multi_group['Salary'].mean())

# Multiple aggregations for different columns
agg_dict = {'Salary': ['min', 'max', 'mean'], 'Age': ['min', 'max', 'mean']}
print("\nMultiple aggregations by department:")
print(dept_group.agg(agg_dict))

# Named aggregations
named_agg = dept_group.agg(
    min_salary=('Salary', 'min'),
    max_salary=('Salary', 'max'),
    avg_salary=('Salary', 'mean'),
    min_age=('Age', 'min'),
    max_age=('Age', 'max'),
    avg_age=('Age', 'mean')
)
print("\nNamed aggregations by department:")
print(named_agg)

# Custom aggregation function
def salary_range(x):
    return x.max() - x.min()

print("\nCustom aggregation (salary range) by department:")
print(dept_group['Salary'].agg(salary_range))

print("\nMultiple custom and built-in aggregations:")
print(dept_group['Salary'].agg([salary_range, 'mean', 'std']))

# Transformations
print("\nStandardized salary within each department:")
print(dept_group['Salary'].transform(lambda x: (x - x.mean()) / x.std()))

print("\nPercentage of department's total salary:")
print(dept_group['Salary'].transform(lambda x: x / x.sum() * 100))

# Filtering
high_salary_depts = dept_group.filter(lambda x: x['Salary'].mean() > 70000)
print("\nDepartments with average salary > 70000:")
print(high_salary_depts)

large_depts = dept_group.filter(lambda x: len(x) > 1)
print("\nDepartments with more than 1 employee:")
print(large_depts)

# Apply function to groups
print("\nSalary summary by department:")
print(dept_group['Salary'].apply(lambda x: pd.Series({
    'min': x.min(),
    'max': x.max(),
    'range': x.max() - x.min(),
    'mean': x.mean(),
    'median': x.median()
})))

# Time-based grouping
df['JoinYear'] = df['JoinDate'].dt.year
year_group = df.groupby('JoinYear')
print("\nAverage salary by join year:")
print(year_group['Salary'].mean())

df['JoinMonth'] = df['JoinDate'].dt.month
month_group = df.groupby('JoinMonth')
print("\nAverage salary by join month:")
print(month_group['Salary'].mean())

# Pivot tables
pivot = pd.pivot_table(df, 
                      values='Salary', 
                      index='Department', 
                      columns='Gender', 
                      aggfunc='mean')
print("\nPivot table of average salary by department and gender:")
print(pivot)

# Multi-value pivot table
multi_pivot = pd.pivot_table(
    df, 
    values=['Salary', 'Age'], 
    index=['Department'], 
    columns=['Gender'], 
    aggfunc={'Salary': 'mean', 'Age': 'mean'},
    margins=True,
    margins_name='All'
)
print("\nPivot table with multiple values and aggregations:")
print(multi_pivot)

# Crosstab
cross = pd.crosstab(
    df['Department'], 
    df['Gender'], 
    values=df['Salary'], 
    aggfunc='mean'
)
print("\nCrosstab of average salary by department and gender:")
print(cross)

# Hierarchical indexing
# Adding a unique identifier to avoid duplicate index
df['Employee_ID'] = range(len(df))
df_hier = df.set_index(['Department', 'Gender', 'Employee_ID'])
print("\nDataFrame with hierarchical index:")
print(df_hier)

print("\nMean salary by department level:")
print(df_hier.groupby(level=0)['Salary'].mean())

print("\nMean salary by gender level:")
print(df_hier.groupby(level=1)['Salary'].mean())

# Categorical grouping
df['Salary_Category'] = pd.cut(
    df['Salary'], 
    bins=[0, 65000, 75000, 100000], 
    labels=['Low', 'Medium', 'High']
)
# Add observed=True to fix the warning
cat_group = df.groupby(['Department', 'Salary_Category'], observed=True)
print("\nCount of employees by department and salary category:")
print(cat_group.size().unstack(fill_value=0))

# Time series analysis
df_sorted = df.sort_values('JoinDate')
print("\nRolling average of last 3 hires' salaries:")
print(df_sorted['Salary'].rolling(window=3).mean())

print("\nCumulative average salary:")
print(df_sorted['Salary'].expanding().mean())

# Time series resampling
ts = pd.Series(df['Salary'].values, index=df['JoinDate'])
print("\nMonthly salary time series:")
print(ts)

# Change 'Q' to 'QE' to fix the warning
quarterly = ts.resample('QE').mean()
print("\nQuarterly average salary:")
print(quarterly)

# Ranking and percentiles
df['Salary_Rank'] = df.groupby('Department')['Salary'].transform(
    lambda x: x.rank(method='min', ascending=False)
)
print("\nSalary rank within department (1 is highest):")
print(df[['Name', 'Department', 'Salary', 'Salary_Rank']])

df['Salary_Percentile'] = df.groupby('Department')['Salary'].transform(
    lambda x: x.rank(pct=True) * 100
)
print("\nSalary percentile within department:")
print(df[['Name', 'Department', 'Salary', 'Salary_Percentile']])

# Cumulative statistics
df_sorted = df.sort_values(['Department', 'JoinDate'])
df_sorted['Cumulative_Dept_Salary'] = df_sorted.groupby('Department')['Salary'].cumsum()
print("\nCumulative salary by department (ordered by join date):")
print(df_sorted[['Name', 'Department', 'JoinDate', 'Salary', 'Cumulative_Dept_Salary']])

Original DataFrame:
      Name  Age      City Department  Salary   JoinDate Gender
0     John   28  New York         HR   65000 2020-01-31      M
1     Anna   34     Paris         IT   70000 2020-02-29      F
2    Peter   29    Berlin      Sales   62000 2020-03-31      M
3    Linda   42    London  Marketing   85000 2020-04-30      F
4    Sarah   31    Sydney    Finance   72000 2020-05-31      F
5  Michael   35  New York         IT   78000 2020-06-30      M
6     Emma   27     Paris         HR   63000 2020-07-31      F
7    David   38    London      Sales   69000 2020-08-31      M

Groups in 'Department':
['Finance', 'HR', 'IT', 'Marketing', 'Sales']

Employees in IT department:
      Name  Age      City Department  Salary   JoinDate Gender
1     Anna   34     Paris         IT   70000 2020-02-29      F
5  Michael   35  New York         IT   78000 2020-06-30      M

Mean salary by department:
Department
Finance      72000.0
HR           64000.0
IT           74000.0
Marketing    85000.0
Sales        65500.0
Name: Salary, dtype: float64

Multiple statistics by department:
              min    max     mean          std
Department
Finance     72000  72000  72000.0          NaN
HR          63000  65000  64000.0  1414.213562
IT          70000  78000  74000.0  5656.854249
Marketing   85000  85000  85000.0          NaN
Sales       62000  69000  65500.0  4949.747468

Mean salary by department and gender:
Department  Gender
Finance     F         72000.0
HR          F         63000.0
            M         65000.0
IT          F         70000.0
            M         78000.0
Marketing   F         85000.0
Sales       M         65500.0
Name: Salary, dtype: float64

Multiple aggregations by department:
           Salary                 Age
              min    max     mean min max  mean
Department
Finance     72000  72000  72000.0  31  31  31.0
HR          63000  65000  64000.0  27  28  27.5
IT          70000  78000  74000.0  34  35  34.5
Marketing   85000  85000  85000.0  42  42  42.0
Sales       62000  69000  65500.0  29  38  33.5

Named aggregations by department:
            min_salary  max_salary  avg_salary  min_age  max_age  avg_age
Department
Finance          72000       72000     72000.0       31       31     31.0
HR               63000       65000     64000.0       27       28     27.5
IT               70000       78000     74000.0       34       35     34.5
Marketing        85000       85000     85000.0       42       42     42.0
Sales            62000       69000     65500.0       29       38     33.5

Custom aggregation (salary range) by department:
Department
Finance         0
HR           2000
IT           8000
Marketing       0
Sales        7000
Name: Salary, dtype: int64

Multiple custom and built-in aggregations:
            salary_range     mean          std
Department
Finance                0  72000.0          NaN
HR                  2000  64000.0  1414.213562
IT                  8000  74000.0  5656.854249
Marketing              0  85000.0          NaN
Sales               7000  65500.0  4949.747468

Standardized salary within each department:
0    0.707107
1   -0.707107
2   -0.707107
3         NaN
4         NaN
5    0.707107
6   -0.707107
7    0.707107
Name: Salary, dtype: float64

Percentage of department's total salary:
0     50.781250
1     47.297297
2     47.328244
3    100.000000
4    100.000000
5     52.702703
6     49.218750
7     52.671756
Name: Salary, dtype: float64

Departments with average salary > 70000:
      Name  Age      City Department  Salary   JoinDate Gender
1     Anna   34     Paris         IT   70000 2020-02-29      F
3    Linda   42    London  Marketing   85000 2020-04-30      F
4    Sarah   31    Sydney    Finance   72000 2020-05-31      F
5  Michael   35  New York         IT   78000 2020-06-30      M

Departments with more than 1 employee:
      Name  Age      City Department  Salary   JoinDate Gender
0     John   28  New York         HR   65000 2020-01-31      M
1     Anna   34     Paris         IT   70000 2020-02-29      F
2    Peter   29    Berlin      Sales   62000 2020-03-31      M
5  Michael   35  New York         IT   78000 2020-06-30      M
6     Emma   27     Paris         HR   63000 2020-07-31      F
7    David   38    London      Sales   69000 2020-08-31      M

Salary summary by department:
Department
Finance     min       72000.0
            max       72000.0
            range         0.0
            mean      72000.0
            median    72000.0
HR          min       63000.0
            max       65000.0
            range      2000.0
            mean      64000.0
            median    64000.0
IT          min       70000.0
            max       78000.0
            range      8000.0
            mean      74000.0
            median    74000.0
Marketing   min       85000.0
            max       85000.0
            range         0.0
            mean      85000.0
            median    85000.0
Sales       min       62000.0
            max       69000.0
            range      7000.0
            mean      65500.0
            median    65500.0
Name: Salary, dtype: float64

Average salary by join year:
JoinYear
2020    70500.0
Name: Salary, dtype: float64

Average salary by join month:
JoinMonth
1    65000.0
2    70000.0
3    62000.0
4    85000.0
5    72000.0
6    78000.0
7    63000.0
8    69000.0
Name: Salary, dtype: float64

Pivot table of average salary by department and gender:
Gender            F        M
Department
Finance     72000.0      NaN
HR          63000.0  65000.0
IT          70000.0  78000.0
Marketing   85000.0      NaN
Sales           NaN  65500.0

Pivot table with multiple values and aggregations:
             Age               Salary
Gender         F     M   All        F        M      All
Department
Finance     31.0   NaN  31.0  72000.0      NaN  72000.0
HR          27.0  28.0  27.5  63000.0  65000.0  64000.0
IT          34.0  35.0  34.5  70000.0  78000.0  74000.0
Marketing   42.0   NaN  42.0  85000.0      NaN  85000.0
Sales        NaN  33.5  33.5      NaN  65500.0  65500.0
All         33.5  32.5  33.0  72500.0  68500.0  70500.0

Crosstab of average salary by department and gender:
Gender            F        M
Department
Finance     72000.0      NaN
HR          63000.0  65000.0
IT          70000.0  78000.0
Marketing   85000.0      NaN
Sales           NaN  65500.0

DataFrame with hierarchical index:
                                  Name  Age      City  Salary   JoinDate  \
Department Gender Employee_ID
HR         M      0               John   28  New York   65000 2020-01-31
IT         F      1               Anna   34     Paris   70000 2020-02-29
Sales      M      2              Peter   29    Berlin   62000 2020-03-31
Marketing  F      3              Linda   42    London   85000 2020-04-30
Finance    F      4              Sarah   31    Sydney   72000 2020-05-31
IT         M      5            Michael   35  New York   78000 2020-06-30
HR         F      6               Emma   27     Paris   63000 2020-07-31
Sales      M      7              David   38    London   69000 2020-08-31

                               JoinYear  JoinMonth
Department Gender Employee_ID
HR         M      0                2020          1
IT         F      1                2020          2
Sales      M      2                2020          3
Marketing  F      3                2020          4
Finance    F      4                2020          5
IT         M      5                2020          6
HR         F      6                2020          7
Sales      M      7                2020          8

Mean salary by department level:
Department
Finance      72000.0
HR           64000.0
IT           74000.0
Marketing    85000.0
Sales        65500.0
Name: Salary, dtype: float64

Mean salary by gender level:
Gender
F    72500.0
M    68500.0
Name: Salary, dtype: float64

Count of employees by department and salary category:
Salary_Category  Low  Medium  High
Department
Finance            0       1     0
HR                 2       0     0
IT                 0       1     1
Marketing          0       0     1
Sales              1       1     0

Rolling average of last 3 hires' salaries:
0             NaN
1             NaN
2    65666.666667
3    72333.333333
4    73000.000000
5    78333.333333
6    71000.000000
7    70000.000000
Name: Salary, dtype: float64

Cumulative average salary:
0    65000.000000
1    67500.000000
2    65666.666667
3    70500.000000
4    70800.000000
5    72000.000000
6    70714.285714
7    70500.000000
Name: Salary, dtype: float64

Monthly salary time series:
JoinDate
2020-01-31    65000
2020-02-29    70000
2020-03-31    62000
2020-04-30    85000
2020-05-31    72000
2020-06-30    78000
2020-07-31    63000
2020-08-31    69000
dtype: int64

Quarterly average salary:
JoinDate
2020-03-31    65666.666667
2020-06-30    78333.333333
2020-09-30    66000.000000
Freq: QE-DEC, dtype: float64

Salary rank within department (1 is highest):
      Name Department  Salary  Salary_Rank
0     John         HR   65000          1.0
1     Anna         IT   70000          2.0
2    Peter      Sales   62000          2.0
3    Linda  Marketing   85000          1.0
4    Sarah    Finance   72000          1.0
5  Michael         IT   78000          1.0
6     Emma         HR   63000          2.0
7    David      Sales   69000          1.0

Salary percentile within department:
      Name Department  Salary  Salary_Percentile
0     John         HR   65000              100.0
1     Anna         IT   70000               50.0
2    Peter      Sales   62000               50.0
3    Linda  Marketing   85000              100.0
4    Sarah    Finance   72000              100.0
5  Michael         IT   78000              100.0
6     Emma         HR   63000               50.0
7    David      Sales   69000              100.0

Cumulative salary by department (ordered by join date):
      Name Department   JoinDate  Salary  Cumulative_Dept_Salary
4    Sarah    Finance 2020-05-31   72000                   72000
0     John         HR 2020-01-31   65000                   65000
6     Emma         HR 2020-07-31   63000                  128000
1     Anna         IT 2020-02-29   70000                   70000
5  Michael         IT 2020-06-30   78000                  148000
3    Linda  Marketing 2020-04-30   85000                   85000
2    Peter      Sales 2020-03-31   62000                   62000
7    David      Sales 2020-08-31   69000                  131000